# Data Science project to predict Data scientists salaries

In [1]:
# Common libraries
import pandas as pd
import numpy as np

## Data
First we need to get some data. [Kaggle](https://www.kaggle.com/jaiganeshnagidi/data-scientist-salary) is a realy good scource from data of any type, also the community is large, we can find tutorials, competitions and los of datasets to work.

In [2]:
# Read data from file 'salary_data/train.csv' 
# (in the same directory that your python process is based
data = pd.read_csv("salary_data/train.csv")

# Preview the first 5 lines of the loaded data 
data.head()

,Unnamed: 0,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305