# Data Science project to predict Data scientists salaries

In [32]:
# Common libraries
import pandas as pd
import numpy as np

## Data
First we need to get some data. [Kaggle](https://www.kaggle.com/jaiganeshnagidi/data-scientist-salary) is a realy good scource from data of any type, also the community is large, we can find tutorials, competitions and los of datasets to work.

In [3]:
# Read data from file 'salary_data/train.csv' 
# (in the same directory that your python process is based
df = pd.read_csv("salary_data/train.csv")

# Preview the first 5 lines of the loaded data 
df.head()

,Unnamed: 0,experience,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded
0,0,5-7 yrs,Exp: Minimum 5 years;Good understanding of IOC...,Senior Exploit and Vulnerability Researcher,NaN,"team skills, communication skills, analytical ...",Delhi NCR(Vikas Puri),6to10,3687
1,1,10-17 yrs,He should have handled a team of atleast 5-6 d...,Head SCM,NaN,"ppc, logistics, inventory management, supply c...",Sonepat,10to15,458
2,2,5-9 yrs,Must be an effective communicator (written & s...,Deputy Manager - Talent Management & Leadershi...,Analytics,"HR Analytics, Employee Engagement, Training, S...",Delhi NCR,15to25,4195
3,3,7-10 yrs,7 - 10 years of overall experience in data e...,Associate Manager Data Engineering,Analytics,"SQL, Javascript, Automation, Python, Ruby, Ana...",Bengaluru,10to15,313
4,4,1-3 yrs,Chartered Accountancy degree or MBA in Finance...,TS- GSA- Senior Analyst,NaN,"accounting, finance, cash flow, financial plan...",Gurgaon,3to6,1305

In [17]:
# Drop index column, inplace means that the function modifies the actual df

df.drop(["Unnamed: 0"], inplace=True, axis = 1 )
df.columns

Index(['experience', 'job_description', 'job_desig', 'job_type', 'key_skills',
       'location', 'salary', 'company_name_encoded', 'exp_avg'],
      dtype='object')

In [27]:
# Average Salary

df["salary_avg"] = df["salary"].apply(lambda x: (int(x.split("to")[0]) + int(x.split("to")[1])) / 2 )
df["salary_avg"].value_counts()

12.5    4500
20.0    4125
8.0     3533
1.5     3245
4.5     2824
37.5    1575
Name: salary_avg, dtype: int64

In [9]:
# Average years of experience required

df["exp_avg"] = df["experience"].apply(lambda x: x[:-4])
df["exp_avg"] = df["exp_avg"].apply(lambda x: (int(x.split("-")[0]) + int(x.split("-")[1])) / 2 )

0      5-7
1    10-17
2      5-9
3     7-10
4      1-3
Name: exp_avg, dtype: object

In [12]:
# Extrack key tools from job_description



# Extract Tittle of job (Senior, Junior, analyst, engineer)

# Extract some key skills

# Extract some location and normalize

3.5     1770
4.5     1537
7.5     1431
6.5     1267
5.5     1244
4.0     1135
3.0     1071
2.5     1020
6.0      755
5.0      751
2.0      729
9.5      715
8.5      685
10.5     576
12.5     497
1.5      490
10.0     462
8.0      428
7.0      401
1.0      388
0.5      296
9.0      277
15.0     267
11.5     233
11.0     190
14.0     178
13.5     168
0.0      151
13.0     132
17.5      92
12.0      84
16.0      75
20.0      66
14.5      54
15.5      36
16.5      30
17.0      28
18.0      22
18.5      21
19.0      14
21.5      12
21.0       7
25.0       6
19.5       3
24.0       2
22.0       2
20.5       1
26.5       1
22.5       1
23.0       1
Name: exp_avg, dtype: int64

In [28]:
# Length of job description

df["description_length"] = df["job_description"].apply(lambda x: len(x))
df["description_length"].describe

TypeError: object of type 'float' has no len()

In [30]:
df["job_description"]

0        Exp: Minimum 5 years;Good understanding of IOC...
1        He should have handled a team of atleast 5-6 d...
2        Must be an effective communicator (written & s...
3        7  -  10 years of overall experience in data e...
4        Chartered Accountancy degree or MBA in Finance...
                               ...
19797                                                  NaN
19798                                                  NaN
19799    Annuities Domain experience is mandatory;Work ...
19800    - By plugging into our market-leading global n...
19801    - 3-5 years experience with the end to end pro...
Name: job_description, Length: 19802, dtype: object